.header{
  margin:0;
  height: 100px;
  background-color: #4A90E2;
  color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  justify-content: space-between;
  overflow-x: auto;
}

.header strong{
  margin: 30px;
  display: flex;
  cursor: pointer;
}


.header > img{
  height: 30px;
  margin:30px
}